<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <div class="page-header">
        <h1>FB kvíz</h1>
    </div>
    <div class="container">
        <h2>Náhodná otázka</h2>
        <p>
            {{question.text}}
        </p>
        {% if question.attachments %}
            <img src="{{ question.attachments }}" class="img-fluid">
        {% endif %}
        <p>
          <a class="btn btn-primary" data-toggle="collapse" href="#answerCollapse" role="button" aria-expanded="false" aria-controls="answerCollapse">Ukaž odpověď</a>
        </p>
        <div class="collapse multi-collapse" id="answerCollapse">
          {{question.correct_answer}}
        </div>
    </div>
{% endblock %}