
<div class="modal-header">
  <div class="text-center">
      <div class="btn-group">
        {% if prev_id %}
        <a href="{{ url_for('present_question_modal', id=prev_id) }}" class="li-modal btn btn-default">
          <i class="fas fa-arrow-left"></i></a>
        {% endif %}
        {% if next_id %}
        <a href="{{ url_for('present_question_modal', id=next_id) }}" class="li-modal btn btn-default">
          <i class="fas fa-arrow-right"></i></a>
        {% endif %}

        <a href="{{ url_for('present_question_modal', id=question.id) }}" class="li-modal btn btn-default">
          <i class="fas fa-cog"></i></a>
      </div>
  </div>
  <span aria-hidden="true">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fas fa-times"></i></button>
      &nbsp;
  </span>
</div>
<div class="modal-body">
    <h2>
        {{ question.name }}
    </h2>
    <p>
        {{ question.text }}
    </p>
    {% if question.attachments %}
        <img src="{{ question.attachments }}" class="img-fluid">
    {% endif %}
    <p>
      <a class="btn btn-primary" data-toggle="collapse" href="#answerCollapse" role="button" aria-expanded="false" aria-controls="answerCollapse">Ukaž odpověď</a>
    </p>
    <div class="collapse multi-collapse" id="answerCollapse">
      {{question.correct_answer}}
    </div>
    {% if points %}
    <table class="table table-condensed table-hover table-bordered small
          text-nowrap table-striped">
        <thead>
            <th>hráč</th>
            <th>body</th>
            <th>bonus</th>
            <th>vyhrál</th>
        </thead>
        <tbody>
            {% for p in points %}
                <tr>
                    <td>{{ p.player }}</td>
                    <td>{{ p.points }}</td>
                    <td>{{ p.bonus_points }}</td>
                    <td>{{ p.win }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

<script type="text/javascript">

$('.li-modal').on('click', function(e){
      e.preventDefault();
      $('#question-modal').modal('show').find('.modal-content').load($(this).attr('href'));
    });


</script>